/* NAVBAR */
.nav-bar {
    position: sticky;
    top: 0;
    /* Sets the position of the navbar in the stack layer so it is on top */
    z-index: 4;
}

ul {
    /* Removes the default bullet point styling on list tag elements */
    list-style-type: none;
    background-color: #363636;
    margin: -10px -10px 0px -10px;
    /* Hides excess margin space expanding past the browser window edge and prevents a left to right scroll bar */
    overflow: hidden;
    /* Creates flex container so the elements will take up as much of the width that is available */
    display: flex;
    align-items: center;
}

a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    /* Removes the default underline link text-decoration */
    text-decoration: none;
    /* Transforms all text to uppercase */
    text-transform: uppercase;
    width: 100px;
    padding: 30px;
    text-align: center;
    transition: background-color 0.4s ease-in;
}

/* NAVBAR ROLLOVER EFFECTS */
/* drop:hover triggers whenever any one of the links in the Images list tag is being hovered */
a:hover, .drop:hover {
    background-color: rgb(228, 159, 0);
    color: rgb(49, 49, 49);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

/* Styles and hides the anchor links within the Images link div tag */
.rollover-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Displays anchor elements when the user hovers their mouse over the Images link */
.drop:hover .rollover-menu {
    display: block;
}

/* Specifically styles the anchor elements within the div tag that contains the rollover-menu class selector */
.rollover-menu a {
    color: #363636;
}

/* Specifically styles the anchor elements within the div tag that contains the rollover-menu class selector 
when the hover effect is triggered */
.rollover-menu a:hover {
    color: white;
}

/* Specifically styles the first anchor element child within the rollover-menu div tag */
.rollover-menu a:hover:nth-child(1) {
    background-color: rgb(117, 20, 20);
}

/* Specifically styles the second anchor element child within the rollover-menu div tag */
.rollover-menu a:hover:nth-child(2) {
    background-color: rgb(87, 7, 7);
}

/* Specifically styles the third anchor element child within the rollover-menu div tag */
.rollover-menu a:hover:nth-child(3) {
    background-color: rgb(48, 2, 2);
}

/* FOOTER */
footer {
    background-color: #363636;
    margin: 30px -10px -10px -10px;
    /* Hides excess margin space expanding past the browser window edge and prevents a left to right scroll bar */
    overflow: hidden;
    height: 70px;
}

/* Styles the text in the footer */
.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgb(228, 159, 0);
    text-align: center;
}

/* IMAGES */
img {
    width: 700px;
    height: 550px;
}

/* Creates a container for each image to be held in */
.image-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

/* Creates a uniform amount of space (as the other two images on the screen) from the navbar to the top of the image
when the bookmark link is clicked on */
#image3 {
    padding-bottom: 170px;
}

/* IMAGE ONE */
/* overlays a dark grey color over the first image */
/* .overlay {
    position: absolute;
    width: 700px;
    height: 550px;
    background-color: rgb(90, 90, 90);
    opacity: 0;
    transition: 0.5s ease;
}

/* Triggers the hover effect of the overlay on Image 1 with a 60% opacity */
/*.overlay:hover {
    opacity: 0.6;
} */

/* Creates a rotating effect for the first image */
.rotate {
    transition: transform 0.7s ease-in-out;
}

/* Triggers the rotating effect when the user hovers their mouse */
.rotate:hover {
    transform: rotate(360deg);
}

/* IMAGE TWO */
.zoom {
    /* Sets the base size of image 2 for a zoom in efect */
    transform: scale(1);
    transition: 0.5s ease-out;
    z-index: 3;
}

/* Creates a zoom effect for image 2 */
.zoom:hover {
    /* Scales image 2 to grow half its size */
    transform: scale(1.5);
}

/* IMAGE THREE */
/* Creates the position of the animation burst and hides any overflow of the shape size going 
beyond the edges of image 3 */
.circle {
    position: relative;
    margin: 0px;
    overflow: hidden;
}

/* Sets up the burst animation shape and position before the hover effect is triggered */
.circle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    /* Creates a circle/oval shape */
    border-radius: 50%;
    /* Makes the shape invisible until the animation is triggered by a hover effect */
    opacity: 0;
    top: 50%;
    left: 50%;
    /* Allows the circle to evenly expand on all four sides of image 3 */
    transform: translate(-50%, -50%);
    animation: burst-reverse 1s;
}

/* Triggers the hover effect on the circle class selector ::before */
.circle:hover::before {
    animation: burst 1s;
    animation-fill-mode: forwards;
}

/* Creates a growing circle effect */
@keyframes burst {
    0%{
        opacity: 0.2;
        background-color: rgb(224, 224, 224);
    }

    100% {
        opacity: 0.7;
        background-color: rgb(224, 224, 224);
        width: 300%;
        height: 300%;
    }
}

/* Animation of the circle shrinking back to the center of the image */
@keyframes burst-reverse {
    0% {
        opacity: 0.7;
        background-color: rgb(224, 224, 224);
        width: 300%;
        height: 300%;
    }

    100% {
        opacity: 0.2;
        background-color: rgb(224, 224, 224);
    }
}